* {
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Rubik-Light';
    background-color: #000000;
}

.container {
    font-weight: bold;
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: #f7ad64;
    text-align: center;
    padding: 10px;
}

.title {
    font-family: 'Rubik-Medium';
    text-transform: uppercase;
    font-size: 26px;
    text-shadow: 1px 1px 0 #ffffff;
}

section {
    padding: 20px;
    background-image: url(./assets/palestra.jpeg);
    background-size: cover;
    overflow: hidden;
}

.formContainer {
    max-width: 230px;
    background-color: #ffffffbb;
    padding: 20px;
    float: right;
}

h2 {
    font-size: 20px;
}

.mb {
    margin-bottom: 15px;
}

input, select {
    font-family: 'Rubik-Light';
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

select {
    appearance: none;
    background-image: url(./assets/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #f7ad64; 
    text-transform: uppercase;
    font-family: 'Rubik-Medium';
    text-shadow: 1px 1px 0 #ffffff;
    cursor: pointer;
}

footer {
    background-color: #f7ad64;
    padding: 40px;
    text-align: center;
}

.picture {
    width: 160px;
}

.description {
    display: inline-block;
    text-align: left;
    max-width: 40%;
    margin-left: 40px;
    transform: translateY(-10%);
}

.description p, .description h3 {
    margin-bottom: 20px;
}

.description h3 {
    font-size: 24px;
    font-family: 'Rubik-Medium';
    text-shadow: 1px 1px 0 #ffffff;
}

@font-face {
    src: url(./font/Rubik-Light.ttf);
    font-family: 'Rubik-Light';
}

@font-face {
    src: url(./font/Rubik-Medium.ttf);
    font-family: 'Rubik-Medium';
}


@media (max-width:576px) {
    .formContainer {
        margin: auto;
    }
}
